In [1]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import cv2

In [2]:
import shutil 
import os

In [3]:
df = pd.read_csv('./train_labels.csv', names=['Filename','Class'])

In [4]:
df

       Filename  Class
0             0      1
1             1     13
2             2     13
3             3     14
4             4      6
...         ...    ...
15995     15995      2
15996     15996     15
15997     15997      3
15998     15998      9
15999     15999      9

[16000 rows x 2 columns]

In [5]:
labels = df.sort_values('Class')
class_names = list(labels.Class.unique())

In [6]:
class_names

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

moving the image files in the folders

In [10]:
for i in class_names:
    os.makedirs(os.path.join('train_',str(i)))

In [11]:
i=list(df[df['Class']==0]['Filename'])[0]

In [12]:
for i in class_names:   
   
    for c in list(df[df['Class']== i]['Filename']):  
        get_image = os.path.join('train/'+str(c)+'.tif')
        move_image = shutil.copy(get_image,'train_/'+ str(i) +'/')

In [13]:
len(list(df[df['Class']== 0]['Filename']))

1032